{% extends 'base.html' %}
{% block content %}

<style>
    .main-container {
        padding: 30px;
        animation: fadeIn 0.6s ease-in-out;
    }

    @keyframes fadeIn {
        from {opacity: 0; transform: translateY(15px);}
        to {opacity: 1; transform: translateY(0);}
    }

    .top-bar {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .bill-box {
        background: #ff66a3;
        padding: 10px 20px;
        border-radius: 20px;
        color: white;
        font-weight: bold;
    }

    .middle-section {
        display: flex;
        gap: 40px;
        margin-top: 30px;
    }

    .photo-box img {
        width: 100%;
        height: 220px;
        object-fit: cover;
        border-radius: 20px;
    }

    .note-box {
        flex: 1;
        background: white;
        padding: 20px;
        border-radius: 20px;
    }

    textarea {
        width: 100%;
        height: 140px;
        border-radius: 15px;
        padding: 10px;
    }

    .save-btn {
        background: #ff3399;
        color: white;
        border: none;
        padding: 8px 20px;
        border-radius: 20px;
        cursor: pointer;
        margin-top: 10px;
    }

    .blouse-section {
        margin-top: 30px;
    }

    .blouse-grid {
        display: flex;
        gap: 15px;
        flex-wrap: wrap;
    }

    .blouse-grid img {
        width: 100%;
        height: 90px;
        border-radius: 15px;
        object-fit: cover;
    }

     .date-wrapper {
    margin-top: 40px;
    display: flex;
    justify-content: center;
    }

    .date-form {
        display: flex;
        align-items: center;
        gap: 60px;
    }

    .date-box {
        background: white;
        padding: 25px 40px;
        border-radius: 25px;
        box-shadow: 0 6px 20px rgba(0,0,0,0.1);
        display: flex;
        flex-direction: column;
        min-width: 100%;
    }

    .date-box label {
        font-weight: bold;
        margin-bottom: 10px;
    }

    .date-box input {
        padding: 10px;
        border-radius: 12px;
        border: 1px solid #ccc;
        font-size: 16px;
    }

    .blouse-box {
        width: 100%;
        height: 90px;
        border-radius: 14px;
        overflow: hidden;
        position: relative;
    }

    .blouse-box img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 15px;
    }

    .add-box {
    display: flex;
    align-items: center;
    justify-content: center;
    background: #ff66a3;
    color: white;
    font-size: 34px;
    cursor: pointer;
    }

</style>

<div class="main-container">

    <div class="top-bar">
        <h2>{{ customer.name }} Folder</h2>
        <div class="bill-box">
            Bill Total = ₹ XXX
        </div>
    </div>

    <div class="middle-section">

        <div style="position:relative; width:150px; height:150px; margin-bottom:20px;">

        {% if customer.photo %}
            <img src="{{ customer.photo.url }}" 
                style="width:150px; height:150px; border-radius:20px; object-fit:cover;">
        {% else %}
            <div style="
                width:150px;
                height:150px;
                border-radius:20px;
                background:#f8f8f8;
                display:flex;
                align-items:center;
                justify-content:center;
                font-size:40px;
                color:#ff2d8d;
            ">
                +
            </div>
        {% endif %}

        <form method="POST" enctype="multipart/form-data" style="position:absolute; top:0; left:0;">
            {% csrf_token %}
            <input type="file" name="photo"
                accept="image/*"
                capture="environment"
                onchange="this.form.submit()"
                style="
                    width:150px;
                    height:150px;
                    opacity:0;
                    cursor:pointer;
                ">
        </form>

    </div>

        <div class="note-box">
            <h3>Note ✏</h3>

            <form method="POST">
                {% csrf_token %}
                <textarea name="note">{{ customer.note }}</textarea>
                <button type="submit" class="save-btn">Save Note</button>
            </form>
        </div>

    </div>

    <div style="margin-top:20px;">
        <form method="POST">
            {% csrf_token %}

            <label style="font-weight:bold;">Order Status:</label><br><br>

            <select name="status" class="status-dropdown">
                <option value="Pending" {% if customer.status == "Pending" %}selected{% endif %}>Pending</option>
                <option value="In Stitching" {% if customer.status == "In Stitching" %}selected{% endif %}>In Stitching</option>
                <option value="Ready" {% if customer.status == "Ready" %}selected{% endif %}>Ready</option>
                <option value="Delivered" {% if customer.status == "Delivered" %}selected{% endif %}>Delivered</option>
            </select>

            <button type="submit" style="margin-left:10px;">Update</button>

        </form>
    </div>

    <div class="blouse-section">
        <h3>Blouse Images</h3>

        <div class="blouse-grid">

            {% for blouse in customer.blouse_set.all %}
                <div class="blouse-box">
                    <img src="{{ blouse.image.url }}">
                </div>
            {% endfor %}

            <!-- ADD BUTTON BOX -->
            <div class="blouse-box add-box">
                <label for="blouseInput">+</label>
                <form id="blouseForm" method="POST" enctype="multipart/form-data">
                    {% csrf_token %}
                    <input type="file" 
                        id="blouseInput" 
                        name="blouse_image"
                        accept="image/*"
                        capture="environment"
                        hidden>
                </form>
            </div>

        </div>
    </div>

    <div class="date-wrapper">
        <form method="POST" class="date-form">
            {% csrf_token %}

            <div class="date-box">
                <label>Received Date</label>
                <input type="date"
                    name="received_date"
                    value="{{ customer.received_date|date:'Y-m-d' }}">
            </div>

            <div class="date-box">
                <label>Delivery Date</label>
                <input type="date"
                    name="delivery_date"
                    value="{{ customer.delivery_date|date:'Y-m-d' }}">
            </div>

            <button type="submit" class="save-btn">
                Update Dates
            </button>

        </form>
    </div>
</div>

<script>
document.getElementById("blouseInput").onchange = function() {
    document.getElementById("blouseForm").submit();
};
</script>

{% endblock %}